#listingpizzas {
    width:95%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: repeat(2, 200px);
    grid-template: grid-template-rows;
    gap: 30px;
    flex:3;
    padding:5px;
    background-color: rgba(255,255,255,0.8);
    color: black;
    font-weight: bold;
    font-size: 25px;
    overflow-y: scroll;
    font-family: 'Quicksand', sans-serif;
}

#listingpizzas .pizzaContainer {
    box-shadow: 0 0 3px black;
    cursor: pointer;
    /*overflow: scroll;*/
    -ms-overflow-style: none;
    scrollbar-width: none; 
}

#listingpizzas .pizzaContainer::-webkit-scrollbar {
    display: none;
}

#listingpizzas .pizzaContainer .title{
    font-weight: 300;
    color:black;
    border-bottom:1px solid black;
    margin:0.3em;
    text-align: center;
    font-size:1em;
    letter-spacing: 1px;
}

#listingpizzas .pizzaContainer .price {
    font-weight: 300;
    text-align: center;
    font-size: 0.7em;
    display: inline-block;
    width:100%;
}

#listingpizzas .pizzaContainer .ingredientList{
    font-size: 0.6em;
    font-weight: 300;
    list-style-type: none;
    padding-left:0.5em;
    padding-right:0.5em;
    max-height: 100px;
    overflow: scroll;
}

#listingpizzas .pizzaContainer .ingredientList li{
    padding:0;
    margin:0;
    display:flex;
    border-bottom:1px solid black;
}

#listingpizzas .pizzaContainer .ingredientList li .ingredientName{
    flex:1;
}

#listingpizzas .pizzaContainer .ingredientList li .flagContainer{
    gap:2px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    align-content: flex-end;
    justify-content:flex-end;
    /*display: inline-block;*/
    text-align: right;
    flex:1;
}
#listingpizzas .pizzaContainer .ingredientList li .flagContainer .flag{
    background-color: white;
    border-radius: 3px;
    color:black;
    font-size: 0.6em;
    padding: 2px;
    /*border:1px solid #DD7835;*/
}
#listingpizzas .pizzaContainer .ingredientList li .flagContainer .glutenFlag{
    background-color: orange;
    color:black;
}
#listingpizzas .pizzaContainer .ingredientList li .flagContainer .vegeFlag{
    background-color: green;
    color:white;
}